<div class="container">
  <h1>Welcome to Jelm</h1>


  <form action="/urls" method="post">
    Gimme a url: <input type="text" name="long_url">
  <input type="submit" value="Shorten">
  </form>

  <table>
    <% @url_history.each do |url| %>
        <%= erb :_full_link_info, layout: false, locals: {url: url} %>
    <% end %>
  </table>
</div>
